<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllureSuite" verbose="1">
    <test name="UI_Test">
        <classes>
            <class name="com.insiderone.UI.tests.HomePage.HomePageTest"></class>
            <class name="com.insiderone.UI.tests.Footer.WeAreHiringTest"></class>
        </classes>
    </test>
</suite>
